#Visual Studio files
CODES\CanTheyMeet\CanTheyMeet\bin
CODES\CanTheyMeet\CanTheyMeet\obj
CODES\CanTheyMeet\CanTheyMeet\CanTheyMeet.sln
CODES\WikiParser\WikiParser\bin
CODES\WikiParser\WikiParser\obj
CODES\WikiParser\WikiParser.sln
