<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <!--<div class="col-lg-6">-->
        <!--<span>Search Type:</span>-->
        <!--<dl class="dl-horizontal">-->
            <!--<dt>-->
                <!--<label>Match Case</label>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<input wicket:id="matchCase" type="checkbox" class="input-sm"/>-->
            <!--</dd>-->
        <!--</dl>-->

        <!--<dl class="dl-horizontal">-->
            <!--<dt>-->
                <!--<label>Whole Word</label>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<input wicket:id="wholeWord" type="checkbox" class="input-sm"/>-->
            <!--</dd>-->
        <!--</dl>-->

        <!--<dl class="dl-horizontal">-->
            <!--<dt>-->
                <!--<label>As Regex</label>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<input wicket:id="asRegex" type="checkbox" class="input-sm"/>-->
            <!--</dd>-->
        <!--</dl>-->
    <!--</div>-->

    <div class="col-lg-4">
        <span>Search In:</span>

        <dl class="dl-horizontal">
            <dt>
                <label>Links</label>
            </dt>
            <dd>
                <input wicket:id="links" type="checkbox" class="input-sm"/>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                <label>Abstracts</label>
            </dt>
            <dd>
                <input wicket:id="abstracts" type="checkbox" class="input-sm"/>
            </dd>
        </dl>

    </div>

    <div class="col-lg-4">
        <span><br></span>

        <dl class="dl-horizontal">
            <dt>
                <label>Categories</label>
            </dt>
            <dd>
                <input wicket:id="categories" type="checkbox" class="input-sm"/>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                <label>Infobox Properties</label>
            </dt>
            <dd>
                <input wicket:id="infoboxProperties" type="checkbox" class="input-sm"/>
            </dd>
        </dl>
    </div>

    <div class="col-lg-4">
        <span>Map Links to:</span>

        <dl class="dl-horizontal">
            <dt>
                <label>CZ</label>
            </dt>
            <dd>
                <input wicket:id="mappingCz" type="checkbox" class="input-sm"/>
            </dd>
        </dl>

        <span><br><br></span>
    </div>

</wicket:panel>
</html>