<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

    <ul class="nav nav-tabs">
        <li wicket:id="classicContainer" role="presentation" class="active">
            <a href="#" wicket:id="classic">Structured</a>
        </li>
        <li wicket:id="xmlContainer" role="presentation">
            <a href="#" wicket:id="xml">XML</a>
        </li>
        <li wicket:id="jsonContainer" role="presentation">
            <a href="#" wicket:id="json">JSON</a>
        </li>
        <li wicket:id="rawContainer" role="presentation">
            <a href="#" wicket:id="raw">Raw</a>
        </li>
    </ul>

    <div wicket:id="result" />

</wicket:panel>
</html>